<div class="body-show">
  <div class="container">
    <h1 class="my-3">Liste des factures archivées</h1>
      <div class="cards my-3">
        <% @invoices_paid.each do |invoice|%>
          <div class="card card-white">
            <div class="top-card">
              <p><strong><%= invoice.debtor.company_name %> </strong> </p>
            </div>
            <div class="middle-card">

              <div class="d-flex justify-content-between w-100">
                  <p><strong>Numéro de facture :</strong> </p>
                  <p><%= invoice.number %> </p>
              </div>
              <div class="d-flex justify-content-between w-100">
                  <p><strong>Montant de l'encours :</strong></p>
                  <p><%= invoice.amount %>€</p>
              </div>
              <div class="d-flex justify-content-between w-100">
                  <p><strong>Date d'émission:</strong></p>
                  <p><%= invoice.emission_date %></p>
              </div>
              <div class="d-flex justify-content-between w-100">
                  <p><strong>Date de l'échéance :</strong></p>
                  <p><%= invoice.due_date %></p>
              </div>
            </div>

                <%= link_to "Voir plus", invoice_path(invoice), class: "btnn btn-round btn-purple btn-small" %>

          </div>
        <% end %>
          </div>
      </div>
  </div>
</div>
