<div class="body-show">
  <div class="container">
    <h1 class="my-4">Liste des factures archivées</h1>

    <div class="col-sm-11 my-3">
      <div class="search-bar my-2 ms-4">
          <%= form_with url: invoices_path, method: :get, class: "d-flex bg-white" do %>
            <%= text_field_tag :query,
                  params[:query],
                  class: "form-control",
                  placeholder: "Filtre par numéro de facture ou par nom d'entreprise"
              %>
            <%= submit_tag "Filtrer", name: "", class: "btnn btn-square-filter btn-blue ml-2" %>
          <% end %>
        </div>
      <div class="cards my-3">
        <% @invoices_paid.each do |invoice|%>
          <div class="card card-white">
            <div class="top-card">
              <p class="text-blue-light"><strong><%= invoice.debtor.company_name %> </strong> </p>
            </div>
            <div class="middle-card">
              <%# <div class="d-flex justify-content-between w-100">
                  <p><strong>Note calculée par Surviv.Ai :</strong></p>
                  <%= render "shared/ratings", rating: invoice.relationship.rating %>
              <%# </div> %>
              <div class="d-flex justify-content-between w-100">
                  <p><strong>Numéro de facture :</strong> </p>
                  <p><%= invoice.number %> </p>
              </div>
              <div class="d-flex justify-content-between w-100">
                  <p><strong>Montant de facture :</strong></p>
                  <p><%= number_with_precision(invoice.amount, precision: 2, separator: ',') %>€</p>
              </div>
              <div class="d-flex justify-content-between w-100">
                  <p><strong>Jours de retard :</strong></p>
                  <% unless invoice.payment_date.nil? %>
                  <% days_until_paid = (invoice.payment_date - invoice.due_date)%>
                  <p><%= days_until_paid.to_i %></p>
                  <% end %>
              </div>
              <div class="d-flex justify-content-between w-100">
                  <p><strong>Jours de retard moyen du client :</strong></p>
                  <%= invoice.relationship.payment_days %>
              </div>
              <div class="d-flex justify-content-between w-100">
                  <p><strong>Date de paiement :</strong></p>
                  <p><%= invoice.payment_date&.strftime("%d/%m/%y") %></p>
              </div>
            </div>

                <%= link_to "Voir plus", invoice_path(invoice), class: "btnn btn-round btn-purple btn-small" %>

          </div>
        <% end %>
          </div>
      </div>
  </div>
</div>
