<div class="body-show">
  <div class="container">
    <h1 class="my-4">Liste des factures archivées</h1>

    <div class="col-sm-11 my-3">
      <div class="search-bar my-2 ms-4">
          <%= form_with url: invoices_path, method: :get, class: "d-flex bg-white" do %>
            <%= text_field_tag :query,
                  params[:query],
                  class: "form-control",
                  placeholder: "Filtre par numéro de facture ou par nom d'entreprise"
              %>
            <%= submit_tag "Filtrer", name: "", class: "btnn btn-square-filter btn-blue ml-2" %>
          <% end %>
        </div>

      <div class="cards my-3">
          <% @invoices_paid.each do |invoice|%>
            <div class="card-invoice card-white">
              <div class="top-card">
                <h4 class="text-blue-light"><strong><%= invoice.debtor.company_name %> </strong> </h4>
                <p class="num-invoice"><strong>Numéro de facture :</strong> <%= invoice.number %> </p>
              </div>
                  <div class="border-blue-light">
                  </div>

              <div class="middle-card">
                <%# <div class="d-flex justify-content-between w-100">
                    <p><strong>Note calculée par Surviv.Ai :</strong></p>
                    <%= render "shared/ratings", rating: invoice.relationship.rating %>
                <%# </div> %>
                <div class="retard">
                  <div class="d-flex justify-content-between w-100">
                      <p>
                      <strong>Jours de retard :<br> </strong>                        <% unless invoice.payment_date.nil? %>
                      <% days_until_paid = (invoice.payment_date - invoice.due_date)%>
                      <%= days_until_paid.to_i %>
                      <% end %>
                      </p>
                  </div>
                  <div class="d-flex justify-content-between  text-center align-items-center w-100">
                      <p><strong>Date de paiement :</strong> <%= invoice.payment_date&.strftime("%d/%m/%y") %></p>
                  </div>
                </div>

                <div class="d-flex justify-content-center w-100 text-center">
                  <p class="encour-size text-center"><i class="fa-solid fa-coins fa-lg" style="color: #071425;"></i>  <%= number_with_precision(invoice.amount, precision: 2, separator: ',') %> €</p>
                </div>
                  <%= link_to "Voir plus", invoice_path(invoice), class: "btnn btn-round btn-blue btn-small btn-card" %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
  </div>
</div>
