<div class="container">
  <h1 class="my-3">Liste des factures</h1>
  <div class="search-bar ">
    <%= form_with url: invoices_path, method: :get, class: "d-flex" do %>
      <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "Filtre par numéro de facture"
        %>
      <%= submit_tag "Filtrer", name: "", class: "btn btn-primary" %>
    <% end %>
    </div>
    <div class="row justify-content-start"
         data-controller="progress-search">
      <div class="col-sm-1 my-3 d-flex-column">
        <button class="btn my-2"
                style="width: 140px"
                data-action="click->progress-search#searchTraiter"
                data-progress-search-target="button"
                data-status="a-traiter">
                <i class="fa-solid fa-check d-none" data-progress-search-target="icon"></i>
                A traiter</button>
        <button class="btn my-2"
                style="width: 140px"
                data-action="click->progress-search#searchEcheance"
                data-progress-search-target="button"
                data-status="avant-echeance">
                <i class="fa-solid fa-check d-none" data-progress-search-target="icon"></i>
                Avant échéance</button>
        <button class="btn my-2"
                style="width: 140px"
                data-action="click->progress-search#searchAmiable"
                data-progress-search-target="button"
                data-status="phase-amiable">
                <i class="fa-solid fa-check d-none" data-progress-search-target="icon"></i>
                Phase amiable</button>
        <button class="btn my-2"
                style="width: 140px"
                data-action="click->progress-search#searchJuridique"
                data-progress-search-target="button"
                data-status="juridique">
                <i class="fa-solid fa-check d-none" data-progress-search-target="icon"></i>
                Juridique</button>
      </div>

    <div class="col-sm-11 my-3">
      <div class="cards">
        <% @invoices.each do |invoice|%>
          <div class="card card-beige"
               data-progress-search-target="card"
               data-status="<%= invoice.progress.parameterize %>">
            <p>Client : <%= invoice.debtor.company_name %></p>
            <p>Numéro de facture : <strong><%= invoice.number %> </strong></p>
            <p>Montant de l'encours : <%= invoice.amount %>€</p>
            <p>Date d'émission:
              <%= invoice.emission_date %></p>
            <p>Date de l'échéance :
              <%= invoice.due_date %></p>
              <div>
                <%= link_to "Voir plus", invoice_path(invoice), class: "btn btn-primary" %>
              </div>

          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
