

<div class="container" data-controller="toggle">
  <div class="row">
      <div class="col-12 d-flex align-items-center justify-content-center">
          <div class="card-show card-bg-white">
              <div class="display-info">
                <h3 class="my-3 text-blue-light align-items-center"><strong> <%= @invoice.debtor.company_name %> </strong></h3>
                <p class="num-invoice-show pb-3"><strong>Numéro de facture : </strong><%= @invoice.number %> </strong></p>
              </div>

              <div class="middle-card">
              <div class="date py-4">
                <div class="d-flex justify-content-center text-center align-items-center w-100">
                    <p class="size-text"><strong>Date d'émission:</strong> <br><%= @invoice.emission_date.strftime("%d/%m/%y") %></p>
                </div>
                <div class="d-flex justify-content-center text-center align-items-center w-100">
                    <p class="size-text"><strong>Date d'échéance:</strong> <br><%= @invoice.due_date.strftime("%d/%m/%y") %></p>
                </div>
              </div>
                <p class="encour-size-show text-center"><i class="fa-solid fa-coins fa-lg" style="color: #FFFFF;"></i>  <%= number_with_precision(@invoice.amount, precision: 2, separator: ',') %> €</p>
              </div>
              <div class="bottom-cards-show ">
                <% if @invoice.file.attached? %>
                <div class="show-img">
                  <%= cl_image_tag(@invoice.file.key, :format => :png) %>
                </div>
                <% end %>
                <div class="button-container">
                  <button data-action="" class="btnn btn-square btn-medium btn-purple " type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample" >Édit ta facture </button>
                  <%= link_to "Liste des factures", invoices_path, class: "btnn btn-square btn-medium btn-blue" %>
                </div>
              </div>
          </div>
       </div>
  </div>

  <div class="offcanvas offcanvas-end canva-blue" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-header">
      <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>

    <div class="offcanvas-body">
      <div class="my-3 d-flex justify-content-center " >
            <div data-toggle-target="togglableElement" class="">
              <%= render 'form_edit', user: @user, invoice: @invoice %>
            </div>
      </div>
    </div>
  </div>
  <% if @invoice.reminders.exists? %>
  <div class="mt-5 mx-3">
    <div class="reminders">
      <h3>Relances :</h3>
      <div class="title-reminders d-flex justify-content-between">

          <div class=""><strong>Type de relance :</strong></div>
          <div class=" text-center"><strong>Date de la relance :</strong></div>
          <div class=" text-end"><strong>État de la relance :</strong></div>

      </div>
      <% @invoice.reminders.each do |reminder| %>
        <div class="info-reminders d-flex justify-content-between">
          <div class="col-4 text-start">
            <p><%= reminder.reminder_type %></p>
          </div>
          <div class="col-4 text-center">
            <p><%= reminder.action_date.strftime("%d/%m/%y") %></p>
          </div>
          <div class="col-4 text-end">
            <p><%= reminder.progress %></p>
          </div>
        </div>
      <% end %>
    </div>
  </div>
<% else %>
  <div class="mt-5 ms-5">
    <h5>Cette facture n'a pas encore été traitée</h5>
  </div>
<% end %>
