<div class="row">
  <div class="col-4 d-flex align-items-center justify-content-center">
    <div class="card card-blue">
    <p>Client : <%= @invoice.debtor.company_name %></p>
    <p>Numéro de facture : <strong><%= @invoice.number %> </strong></p>
    <p>Montant de l'encours : <%= @invoice.amount %>€</p>
    <p>Date d'émission:
      <%= @invoice.emission_date %></p>
    <p>Date de l'échéance :
      <%= @invoice.payment_date %></p>


      <%= link_to "Lists des factures", invoices_path, class: "btn btn-primary" %>
    </div>
  </div>
  <div class="col-8 ">
    <div class="container my-4">
      <div class="row justify-content-center">
        <div class="forms col-md-6">
          <%= simple_form_for [@user, @invoice], html: { class: 'custom-form' } do |f| %>
            <h2 class="text-center mb-4 title">Ici tu peux modifier ta facture</h2>
          <div class="d-flex justify-content-evenly">
            <h5>Débiteur : <%= @invoice.debtor.company_name %></h5>
          </div>
            <div class="mt-4">
                <%= f.input :number, label: 'Numéro de la facture' %>
                <%= f.input :amount, label: 'Montant de la facture'%>
                <%= f.input :emission_date, label: "Date d'émission de la facture"%>
                <%= f.input :payment_date, label: "Date d'échéance de la facture"%>
                <%= f.input :comment, label: "Commentaires"%>
              <div class="d-flex justify-content-evenly">
                <%= f.submit "Valide ta modification", class: "btn btn-blue  btn-medium mt-3 align" %>
              </div>
              <% end %>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>

<% if @invoice.reminders.exists? %>
  <div class="mt-5 ms-5">
    <h3>Les relances sur cette facture</h3>
      <% @invoice.reminders.each do |reminder|%>
        <div class="card-white">
          <p><b>Type de relance : </b> <%= reminder.reminder_type %></p>
          <p><b>Date de la relance : </b> <%= reminder.action_date %></p>
          <p><b>État de la relance: </b> <%= reminder.progress %></p>
        </div>
      <% end %>
  </div>
  <% else %>
    <div class="mt-5 ms-5">
    <h5>Cette nouvelle facture n'a pas encore était traitée</h5>
    </div>
  <% end %>
