

<div class="container">
  <div class="row">
    <div class="col-6 d-flex align-items-center justify-content-center">
      <div class="card-show card-blue">
        <div class="display-info">
          <h4 class="mb-3"><strong> <%= @invoice.debtor.company_name %> </strong></h4>
        </div>
        <div class="display-info row">
          <p><div class="col-6 text-start">Numéro de facture : <strong></div><div class="col-6 text-end "><%= @invoice.number %> </strong></div></p>
        </div>
        <div class="display-info row">
          <p><div class="col-6 text-start"> Montant de l'encours : <strong></div><div class="col-6 text-end "><%= @invoice.amount %>€ </strong></div></p>
        </div>
        <div class="row display-info ">

          <p> <div class="col-6 text-start">Date d'émission: <strong></div><div class="col-6 text-end "> <%= @invoice.emission_date %></strong></div></p>
        </div>
        <div class="display-info row">
          <p><div class="col-6 text-start">Date de l'échéance : <strong></div><div class="col-6 text-end "><%= @invoice.due_date %> </strong></div></p>
        </div>

        <div class="bottom-cards-show ">
            <div class="show-img">
              <%= cl_image_tag(@invoice.file.key, :format => :png) %>
            </div>
            <div class="button-container">
              <%= link_to "Edit ta facture", invoices_path, class: "btnn btn-round btn-medium btn-purple " %>

              <%= link_to "Liste des factures", invoices_path, class: "btnn btn-round btn-medium btn-beige" %>
            </div>
        </div>


    </div>
    </div>
    <div class="col-6 ">
      <div class="container my-4">
        <div class="row justify-content-center">
          <div class="forms col-md-6">
            <%= simple_form_for [@user, @invoice], html: { class: 'custom-form' } do |f| %>
              <h2 class="text-center mb-4 title">Ici tu peux modifier ta facture</h2>
            <div class="d-flex justify-content-evenly">
              <h5>Débiteur : <%= @invoice.debtor.company_name %></h5>
            </div>
              <div class="mt-4">
                  <%= f.input :number, label: 'Numéro de la facture' %>
                  <%= f.input :amount, label: 'Montant de la facture'%>
                  <%= f.input :emission_date, as: :string, label: "Date d'émission de la facture",
                              input_html: { data: { controller: "datepicker" } }%>
                  <%= f.input :due_date, as: :string, label: "Date d'échéance de la facture",
                              input_html: { data: { controller: "datepicker" } }%>
                  <%= f.input :comment, label: "Commentaires"%>
                <div class="d-flex justify-content-evenly">
                  <%= f.submit "Valide ta modification", class: "btn btn-blue  btn-medium mt-3 align" %>
                </div>
                <% end %>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <% if @invoice.reminders.exists? %>
    <div class="mt-5 mx-3">
      <div class="reminders">
      <h3>Les relances sur cette facture : </h3>
        <div class="title-reminders">
        <p><strong>Type de relance : </strong></p>
        <p><strong>Date de la relance :</strong> </p>
        <p><strong>État de la relance:</strong></p>
        </div>
        <% @invoice.reminders.each do |reminder|%>
        <div class="info-reminders row">
          <div class="col-4 text-start">
                <p> <%= reminder.reminder_type %></p>
          </div>
          <div class="col-4 text-center">
                <p><%= reminder.action_date %></p>
          </div>
          <div class="col-4 text-end">
                <p> <%= reminder.progress %></p>
          </div>
        </div>
      </div>
        <% end %>
    </div>
    <% else %>
      <div class="mt-5 ms-5">
      <h5>Cette nouvelle facture n'a pas encore était traitée</h5>
      </div>
    <% end %>
</div>
