<!-- Sommaire du tableau de bord -->
<div class="container my-4" data-controller="modal">


  <div class="row">

  <div class="col-4">
    <div class="card-blank info-perso">
    <h3>Bonjour <%= @user.first_name %>,</h3>
    <p> Voici une vue d'ensemble de ta trésorerie</p>
    </div>
  </div>

  <div class="col-4">
    <div class="card-blank card-blue d-flex flex-column justify-content-between">
    <div>
      <h3><%= current_user.reminders.total_reminders_by_month %></h3>
      <p><strong>Relances efféctués ce mois ci</strong></p>
      <p><strong><%= number_with_precision(current_user.invoices.sum_collect_by_month, precision: 2, separator: ',') %> €</strong> à collecter</p>
    </div>

    <button class="btnn btn-square btn-white btn-small">Voir mes factures --> </button>
    </div>
  </div>

  <div class="col-4">
    <div class="card-blank card-blue-strong  d-flex flex-column justify-content-between">
      <div>
      <h4><%= current_user.relationships.where('rating <= ?', 2).count %></h4>
      <p><strong>de vos clients ont une note en dessous de C</strong></p>
      <% total = 0 %>
      <% paid = 0 %>
      <% bad_clients = current_user.relationships.where('rating <= ?', 2) %>
      <% bad_clients.each do |relation| %>
        <% total += relation.invoices.sum(:amount) %>
        <% paid += relation.invoices.where(progress: 'Payé').sum(:amount) %>
        <% end %>
      <p>Pour un total de <%= number_with_precision((total - paid), precision: 2, separator: ',') %> d'encours</p>
      </div>
    <button class="btnn btn-square btn-white btn-small">Voir mes factures --> </button>

    </div>
  </div>

  <div class="col-4">
    <div class="card-blank card-white d-flex flex-column justify-content-between">
      <div>
        <h4><%= number_with_precision(current_user.invoices.total_sum_archive, precision: 2, separator: ',')%> €</h4>
        <p>Colléctés ce mois ci</p>
      </div>

      <div class="number d-flex justify-content-between">

        <div>
          <p>Avant écheance</p>
          <p><strong> <%= number_with_precision(current_user.invoices.total_sum_before_due_date, precision: 2, separator: ',')  %> €</strong></p>
        </div>
        <div>
          <p>Phase amiable</p>
          <p><strong><%= number_with_precision(current_user.invoices.total_sum_friendly_phase, precision: 2, separator: ',') %> €</strong></p>
        </div>

        <div>
          <p>Juridique</p>
          <p><strong><%= number_with_precision(current_user.invoices.total_sum_legal_phase, precision: 2, separator: ',') %> €</strong></p>
        </div>
      </div>
    </div>
  </div>





  <div class="col-8">
    <div class="card-blank-statistique card-white d-flex justify-content-between">
      <div class="d-flex flex-column align-items-start justify-content-evenly" style="
    width: 160px;">
          <div>
            <h4><%= @average_payment_days_current_month %> Jours</h4>
            <p>DSO</p>
          </div>
          <div class="statistiques">
            <p><i class="fa-solid fa-arrow-right transform-up"></i> 45 Jours </p>
        </div>
      </div>

          <div class="graph-chart d-flex justify-content-between">
              <!-- Graphique -->
              <canvas
                class="graph-chart-card"
                data-controller="chart"
                data-chart-type-value="line"
                data-chart-data-value="<%= @chart_data2.to_json %>"
              ></canvas>
          </div>
      </div>
    </div>

    <div class="col-4">
    <div class="card-blank-show-big card-white d-flex justify-content-between">

    <div class="container mt-2">
    <div class="row sticky bg-white">
      <div class="col-2"></div>
      <div class="col-7">
        <h4 class="my-4 text-center">Analyses des débiteurs</h4>
      </div>
        <div class="col-3">
            <!-- Button trigger modal -->

            <div class="d-flex justify-content-end align-items-center " style="height: 100%;">
              <button class="btnn-modal" type="button" data-bs-toggle="modal" data-bs-target="#myModal">
                Voir plus
              </button>
            </div>
            </div>
            </div>

              <!-- Modal -->
            <div class="modal fade custom-modal" id="myModal" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <!-- Section Analyses des débiteurs -->
                <div class="mt-2 modal-content" data-modal-target="togglableElement">
                  <div class="modal-header-div">
                    <h2 class="my-3 modal-header">Analyses des débiteurs</h2>
                    <button type="button" class="btn-close card-blank-show-big-modal " data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="row ">
                    <% @debtor_analyzers[0..12].each do |debtor_analyzer| %>

                    <!-- Card avec les analyses pour chaque débiteur -->
                    <div class="col-6 my-3">

                      <div class="card-show-user card-large mb-4 modal-body">

                        <div class="card-body d-flex flex-column justify-content-center w-100">

                      <h5 class="card-title ms-3 mt-2 mb-4 text-blue-light"> <%= debtor_analyzer.debtor.company_name %> :</h5>
                          <!-- Note calculée par l'équipe Surviv.Ai -->
                          <div class="text-color">
                            <div class="d-flex justify-content-between align-items-center px-3">
                              <strong><p class="mb-1 <%= debtor_analyzer.relationship.rating.to_i >=4 ? 'text-green' : debtor_analyzer.relationship.rating.to_i === 3 ? 'text-blue' : 'text-warning' %>">
                              <strong>Note calculée par l'équipe Surviv.Ai :</strong></p></strong>
                              <p class="<%= debtor_analyzer.relationship.rating.to_i >=4 ? 'text-green' : debtor_analyzer.relationship.rating.to_i === 3 ? 'text-blue' : 'text-warning' %>">
                                <%= render "shared/ratings", rating: debtor_analyzer.relationship.rating %>
                                <i class="fa-regular fa-star fa-solid"></i></p>
                            </div>
                            <!-- Nombre de jours moyens de retard -->
                            <div class="d-flex justify-content-between align-items-center px-3 <%= debtor_analyzer.relationship.rating.to_i >=4 ? 'text-green' : debtor_analyzer.relationship.rating.to_i === 3 ? 'text-blue' : 'text-warning' %>">
                              <p class="<%= debtor_analyzer.relationship.rating >=4 ? 'text-green' : debtor_analyzer.relationship.rating.to_i === 3 ? 'text-blue' : 'text-warning' %>">
                                <strong>Jours de retard moyens :</strong></p>
                              <p class="<%= debtor_analyzer.relationship.rating >=4 ? 'text-green' : debtor_analyzer.relationship.rating.to_i === 3 ? 'text-blue' : 'text-warning' %>">
                                <strong><%= debtor_analyzer.relationship.payment_days %></strong></p>
                            </div>
                          </div>
                          <!-- Montant total des factures -->
                          <div class="d-flex justify-content-between align-items-center text-green px-3">
                            <p class="mb-1"><strong>Montant total des factures :</strong></p>
                            <p><strong><%= number_with_precision(debtor_analyzer.total_invoices_amount, precision: 2, separator: ',') %> EUR</strong>
                              <i class="fas fa-coins ml-2"></i></p>
                          </div>
                          <!-- Montant total des factures impayées -->
                          <div class="d-flex justify-content-between align-items-center px-3 text-red">
                            <strong><p class="mb-1"><strong>Montant total des factures impayées :</strong></p></strong>
                            <p><strong><%= number_with_precision(debtor_analyzer.unpaid_amount, precision: 2, separator: ',') %> EUR</strong>
                              <i class="fas fa-exclamation-triangle ml-2"></i></p>
                          </div>
                          <!-- Nombre de factures en retard de paiement -->
                          <div class="d-flex justify-content-between align-items-center px-3 text-red">
                            <strong><p class="mb-1"><strong>Nombre de facture en retard de paiement :</strong></p></strong>
                            <p><strong><%= debtor_analyzer.overdue_invoices_count %></strong>
                              <i class="fas fa-exclamation-triangle ml-2"></i></p>
                          </div>
                          <!-- Nombre total de rappels envoyés -->
                          <div class="d-flex justify-content-between align-items-center text-warning px-3 text-bold">
                            <p class="mb-1"><strong>Nombre total de rappels envoyés:</strong></p>
                            <p><strong><%= debtor_analyzer.reminders_sent %></strong>
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <% end %>
                  </div>
                  <div>
                    <button class="btn-secondary d-none" data-modal-target="togglableElement">Quitter</button>
                  </div>
                </div>
              </div>
            </div>



          <div class="row d-flex flex-column">
            <% @debtor_analyzers[0..12].each do |debtor_analyzer| %>

              <!-- Card avec les analyses pour chaque débiteur -->

            <div class="display-company d-flex justify-content-between text-start">
                <p class="card-title "><%= debtor_analyzer.debtor.company_name %> </p>






                  <div class="text-color d-flex">
                    <!-- Nombre de jours moyens de retard -->
                    <div class="d-flex justify-content-between align-items-center px-3 <%= debtor_analyzer.relationship.rating.to_i >=4 ? 'text-green' : debtor_analyzer.relationship.rating.to_i === 3 ? 'text-blue' : 'text-warning' %>">
                      <p class="<%= debtor_analyzer.relationship.rating >=4 ? 'text-green' : debtor_analyzer.relationship.rating.to_i === 3 ? 'text-blue' : 'text-warning' %>">

                      <p class="<%= debtor_analyzer.relationship.rating >=4 ? 'text-green' : debtor_analyzer.relationship.rating.to_i === 3 ? 'text-blue' : 'text-warning' %>">
                      <strong><%= debtor_analyzer.relationship.payment_days %></strong></p>
                    </div>

                          <!-- Note calculée par l'équipe Surviv.Ai -->
                    <div class="d-flex justify-content-between align-items-center px-3">
                      <p class="mb-1 <%= debtor_analyzer.relationship.rating.to_i >=4 ? 'text-green' : debtor_analyzer.relationship.rating.to_i === 3 ? 'text-blue' : 'text-warning' %>">
                      <p class= "<%= debtor_analyzer.relationship.rating.to_i >=4 ? 'text-green' : debtor_analyzer.relationship.rating.to_i === 3 ? 'text-blue' : 'text-warning' %>">
                      <%= render "shared/ratings", rating: debtor_analyzer.relationship.rating %>
                      <i class="fa-regular fa-star fa-solid"></i></p>
                    </div>
                  </div>
          </div>


        <% end %>


         <!-- À suprimer plus tard -->

                  <% @debtor_analyzers[0..12].each do |debtor_analyzer| %>

          <!-- Card avec les analyses pour chaque débiteur -->

            <div class="display-company d-flex justify-content-between text-start">
                <p class="card-title "><%= debtor_analyzer.debtor.company_name %> </p>






                  <div class="text-color d-flex">
                    <!-- Nombre de jours moyens de retard -->
                    <div class="d-flex justify-content-between align-items-center px-3 <%= debtor_analyzer.relationship.rating.to_i >=4 ? 'text-green' : debtor_analyzer.relationship.rating.to_i === 3 ? 'text-blue' : 'text-warning' %>">
                      <p class="<%= debtor_analyzer.relationship.rating >=4 ? 'text-green' : debtor_analyzer.relationship.rating.to_i === 3 ? 'text-blue' : 'text-warning' %>">

                      <p class="<%= debtor_analyzer.relationship.rating >=4 ? 'text-green' : debtor_analyzer.relationship.rating.to_i === 3 ? 'text-blue' : 'text-warning' %>">
                      <strong><%= debtor_analyzer.relationship.payment_days %></strong></p>
                    </div>

                          <!-- Note calculée par l'équipe Surviv.Ai -->
                    <div class="d-flex justify-content-between align-items-center px-3">
                      <p class="mb-1 <%= debtor_analyzer.relationship.rating.to_i >=4 ? 'text-green' : debtor_analyzer.relationship.rating.to_i === 3 ? 'text-blue' : 'text-warning' %>">
                      <p class= "<%= debtor_analyzer.relationship.rating.to_i >=4 ? 'text-green' : debtor_analyzer.relationship.rating.to_i === 3 ? 'text-blue' : 'text-warning' %>">
                      <%= render "shared/ratings", rating: debtor_analyzer.relationship.rating %>
                      <i class="fa-regular fa-star fa-solid"></i></p>
                    </div>
                  </div>
            </div>


        <% end %>
            <% @debtor_analyzers[0..12].each do |debtor_analyzer| %>

          <!-- Card avec les analyses pour chaque débiteur -->

            <div class="display-company d-flex justify-content-between text-start">
                <p class="card-title "><%= debtor_analyzer.debtor.company_name %> </p>






                  <div class="text-color d-flex">
                    <!-- Nombre de jours moyens de retard -->
                    <div class="d-flex justify-content-between align-items-center px-3 <%= debtor_analyzer.relationship.rating.to_i >=4 ? 'text-green' : debtor_analyzer.relationship.rating.to_i === 3 ? 'text-blue' : 'text-warning' %>">
                      <p class="<%= debtor_analyzer.relationship.rating >=4 ? 'text-green' : debtor_analyzer.relationship.rating.to_i === 3 ? 'text-blue' : 'text-warning' %>">

                      <p class="<%= debtor_analyzer.relationship.rating >=4 ? 'text-green' : debtor_analyzer.relationship.rating.to_i === 3 ? 'text-blue' : 'text-warning' %>">
                      <strong><%= debtor_analyzer.relationship.payment_days %></strong></p>
                    </div>

                          <!-- Note calculée par l'équipe Surviv.Ai -->
                    <div class="d-flex justify-content-between align-items-center px-3">
                      <p class="mb-1 <%= debtor_analyzer.relationship.rating.to_i >=4 ? 'text-green' : debtor_analyzer.relationship.rating.to_i === 3 ? 'text-blue' : 'text-warning' %>">
                      <p class= "<%= debtor_analyzer.relationship.rating.to_i >=4 ? 'text-green' : debtor_analyzer.relationship.rating.to_i === 3 ? 'text-blue' : 'text-warning' %>">
                      <%= render "shared/ratings", rating: debtor_analyzer.relationship.rating %>
                      <i class="fa-regular fa-star fa-solid"></i></p>
                    </div>
                  </div>
            </div>


        <% end %>

               <!-- juqu'ici -->


      </div>
  </div>




      </div>

  </div>

  <div class="col-8">
    <div class="row">
    <div class="col-12">
    <div class="card-blank-statistique-big card-white d-flex justify-content-between">
      <div class="d-flex flex-column align-items-center justify-content-evenly">
          <div>
            <h4>DSO</h4>
            <p>Moyen par client</p>
          </div>
          <div class="statistiques">
            <p><i class="fa-solid fa-arrow-right transform-up"></i> 4 Jours </p>
        </div>
      </div>

          <div class="graph-chart d-flex justify-content-between">
              <!-- Graphique -->
            <canvas
              class="graph-chart-big"
              data-controller="chart"
              data-chart-type-value="bar"
              data-chart-data-value="<%= @chart_data1.to_json %>"
            ></canvas>
          </div>

      </div>
      <div class="col-12">

      <div class="card-blank-statistique-big card-white d-flex justify-content-between">
      <div class="d-flex flex-column align-items-center justify-content-evenly">
          <div>
            <h4>8450 € </h4>
            <p>Total des factures</p>
          </div>
          <div class="statistiques">
            <p><i class="fa-solid fa-arrow-right transform-up"></i> 1200€ </p>
        </div>
      </div>

          <div class="graph-chart d-flex justify-content-between">
              <!-- Graphique -->
             <canvas
                class="graph-chart-big"
                data-controller="chart"
                data-chart-type-value="bar"
                data-chart-data-value="<%= @chart_data.to_json %>"
              ></canvas>
          </div>
      </div>
    </div>
    </div>


    </div>

    </div>









  <!-- Section Analyses des débiteurs -->
  <div class="container mt-2 modal-content-show d-none" data-modal-target="togglableElement">
    <h2 class="my-3 ">Analyses des débiteurs</h2>
      <div class="row d-flex flex-column">
        <% @debtor_analyzers[0..1].each do |debtor_analyzer| %>

          <!-- Card avec les analyses pour chaque débiteur -->
          <div class="col-5 my-3">
            <h5 class="card-title ms-3">Analyses pour <%= debtor_analyzer.debtor.company_name %> :</h5>

            <div class="card-show-user card-large mb-4">

              <div class="card-body d-flex flex-column justify-content-center w-100">

                <!-- Note calculée par l'équipe Surviv.Ai -->
                <div class="text-color">
                  <div class="d-flex justify-content-between align-items-center px-3">
                    <strong><p class="mb-1 <%= debtor_analyzer.relationship.rating.to_i >=4 ? 'text-green' : debtor_analyzer.relationship.rating.to_i === 3 ? 'text-blue' : 'text-warning' %>">
                    <strong>Note calculée par l'équipe Surviv.Ai :</strong></p></strong>
                    <p class= "<%= debtor_analyzer.relationship.rating.to_i >=4 ? 'text-green' : debtor_analyzer.relationship.rating.to_i === 3 ? 'text-blue' : 'text-warning' %>">
                    <%= render "shared/ratings", rating: debtor_analyzer.relationship.rating %>
                    <i class="fa-regular fa-star fa-solid"></i></p>
                  </div>
                  <!-- Nombre de jours moyens de retard -->
                  <div class="d-flex justify-content-between align-items-center px-3 <%= debtor_analyzer.relationship.rating.to_i >=4 ? 'text-green' : debtor_analyzer.relationship.rating.to_i === 3 ? 'text-blue' : 'text-warning' %>">
                    <p class="<%= debtor_analyzer.relationship.rating >=4 ? 'text-green' : debtor_analyzer.relationship.rating.to_i === 3 ? 'text-blue' : 'text-warning' %>">
                    <strong>Jours de retard moyens :</strong></p>
                    <p class="<%= debtor_analyzer.relationship.rating >=4 ? 'text-green' : debtor_analyzer.relationship.rating.to_i === 3 ? 'text-blue' : 'text-warning' %>">
                    <strong><%= debtor_analyzer.relationship.payment_days %></strong></p>
                  </div>
                </div>
                <!-- Montant total des factures -->
                <div class="d-flex justify-content-between align-items-center text-green px-3">
                  <p class="mb-1"><strong>Montant total des factures :</strong></p>
                  <p><strong><%= number_with_precision(debtor_analyzer.total_invoices_amount, precision: 2, separator: ',') %> EUR</strong>
                  <i class="fas fa-coins ml-2"></i></p>
                </div>
                <!-- Montant total des factures impayées -->
                <div class="d-flex justify-content-between align-items-center px-3 text-red">
                  <strong><p class="mb-1"><strong>Montant total des factures impayées :</strong></p></strong>
                  <p><strong><%= number_with_precision(debtor_analyzer.unpaid_amount, precision: 2, separator: ',') %> EUR</strong>
                  <i class="fas fa-exclamation-triangle ml-2"></i></p>
                </div>
                <!-- Nombre de factures en retard de paiement -->
                <div class="d-flex justify-content-between align-items-center px-3 text-red">
                  <strong><p class="mb-1"><strong>Nombre de facture en retard de paiement :</strong></p></strong>
                  <p><strong><%= debtor_analyzer.overdue_invoices_count %></strong>
                  <i class="fas fa-exclamation-triangle ml-2"></i></p>
                </div>
                <!-- Nombre total de rappels envoyés -->
                <div class="d-flex justify-content-between align-items-center text-warning px-3 text-bold">
                  <p class="mb-1"><strong>Nombre total de rappels envoyés:</strong></p>
                    <p><strong><%= debtor_analyzer.reminders_sent %></strong>
                  </p>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
  </div>
