<!-- Sommaire du tableau de bord -->
<div class="container mt-2">
  <h1>Tableau de bord</h1>
</div>

<!-- Section Analyses des débiteurs -->
<div class="container mt-2">
  <h2 class="my-3 ">Analyses des débiteurs</h2>
    <div class="row">
      <% @debtor_analyzers.each do |debtor_analyzer| %>
        <!-- Card avec les analyses pour chaque débiteur -->
        <div class="col-6 my-3">
          <h5 class="card-title ms-3">Analyses pour <%= debtor_analyzer.debtor.company_name %> :</h5>

          <div class="card-show-user card-large mb-4">

            <div class="card-body d-flex flex-column justify-content-center w-100">

              <!-- Note calculée par l'équipe Surviv.Ai -->
              <div class="d-flex justify-content-between align-items-center px-3 text-blue">
                <strong><p class="mb-1">Note calculée par l'équipe Surviv.Ai :</p></strong>
                <p><%= render "shared/ratings", rating: debtor_analyzer.relationship.rating %>
                <i class="fa-regular fa-star fa-solid"></i></p>
              </div>
              <!-- Montant total des factures -->
              <div class="d-flex justify-content-between align-items-center text-green px-3">
                <strong><p class="mb-1">Montant total des factures :</p></strong>
                <p><strong><%= debtor_analyzer.total_invoices_amount %> EUR</strong>
                <i class="fas fa-coins ml-2"></i></p>
              </div>
              <!-- Montant total des factures impayées -->
              <div class="d-flex justify-content-between align-items-center px-3 text-red">
                <strong><p class="mb-1">Montant total des factures impayées :</p></strong>
                <p><strong><%= debtor_analyzer.unpaid_amount %> EUR</strong>
                <i class="fas fa-exclamation-triangle ml-2"></i></p>
              </div>
              <!-- Nombre de factures en retard de paiement -->
              <div class="d-flex justify-content-between align-items-center px-3 text-red">
                <strong><p class="mb-1">Nombre de facture en retard de paiement :</p></strong>
                <p><strong><%= debtor_analyzer.overdue_invoices_count %></strong>
                <i class="fas fa-exclamation-triangle ml-2"></i></p>
              </div>
              <!-- Nombre total de rappels envoyés -->
              <div class="d-flex justify-content-between align-items-center text-warning px-3">
                <strong><p class="mb-1">Nombre total de rappels envoyés:</p></strong>
                  <p><strong><%= debtor_analyzer.reminders_sent %></strong>
                <i class="fas fa-exclamation-triangle ml-2"></i></p>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
</div>

<!-- Section Graphique -->
<div class="graph-container container mt-4">
  <h2>Graphique récapitulatif</h2>
  <!-- Graphique -->
  <canvas
    class="graph-chart"
    data-controller="chart"
    data-chart-type-value="bar"
    data-chart-data-value="<%= @chart_data.to_json %>"
  ></canvas>
</div>

<!-- Section Analyses récapitulatives des débiteurs -->
<div class="container mt-4">
  <h2>Analyses récapitulatives des débiteurs</h2>
  <!-- Tableau récapitulatif -->
  <table class="table">
    <thead>
      <tr>
        <th>Entreprise</th>
        <th>Montant total des factures</th>
        <th>Montant total des factures impayées</th>
        <th>Nombre de factures en retard</th>
        <th>Nombre total de rappels envoyés</th>
      </tr>
    </thead>
    <tbody>
      <% @debtor_analyzers.each do |debtor_analyzer| %>
        <tr>
          <td><%= debtor_analyzer.debtor.company_name %></td>
          <td><%= debtor_analyzer.total_invoices_amount %> EUR</td>
          <td><%= debtor_analyzer.unpaid_amount %> EUR</td>
          <td><%= debtor_analyzer.overdue_invoices_count %></td>
          <td><%= debtor_analyzer.reminders_sent %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
