<!-- Sommaire du tableau de bord -->
<div class="container mt-4">


  <div class="row">

  <div class="col-4">
    <div class="card-blank info-perso">
    <h3>Bonjour <%= @user.first_name %>,</h3>
    <p> Voici une vue d'ensemble de ta trésorerie</p>
    </div>
  </div>

  <div class="col-4">
    <div class="card-blank card-blue d-flex flex-column justify-content-between">
    <div>
      <h3>64</h3>
      <p><strong>Relances efféctués ce mois ci</strong></p>
      <p><strong><%= number_with_precision(current_user.invoices.sum_collect_by_month, precision: 2, separator: ',') %> €</strong> à collectés</p>
    </div>
    <button class="btnn btn-square btn-white btn-small">Voir mes factures --> </button>
    </div>
  </div>

  <div class="col-4">
    <div class="card-blank card-blue-strong  d-flex flex-column justify-content-between">
    <div>
    <h4>4</h4>
    <p><strong>de vos clients ont une note en dessous de C</strong></p>
    <p>Pour un total de 3 000€ d'encours</p>
    </div>
    <button class="btnn btn-square btn-white btn-small">Voir mes factures --> </button>

    </div>
  </div>

  <div class="col-4">
    <div class="card-blank card-white d-flex flex-column justify-content-between">
      <div>
        <h4><%= number_with_precision(current_user.invoices.total_sum_archive, precision: 2, separator: ',')%> €</h4>
        <p>Colléctés ce mois ci</p>
      </div>

      <div class="number d-flex justify-content-between">

        <div>
          <p>Avant écheances</p>
          <p><strong> <%= number_with_precision(current_user.invoices.total_sum_before_due_date, precision: 2, separator: ',')  %> €</strong></p>
        </div>
        <div>
          <p>Phase amiable</p>
          <p><strong><%= number_with_precision(current_user.invoices.total_sum_friendly_phase, precision: 2, separator: ',') %> €</strong></p>
        </div>

        <div>
          <p>Juridique</p>
          <p><strong><%= number_with_precision(current_user.invoices.total_sum_legal_phase, precision: 2, separator: ',') %> €</strong></p>
        </div>
      </div>
    </div>
  </div>

  <div class="col-4">
    <div class="card-blank-statistique card-white d-flex justify-content-between">
      <div class="d-flex flex-column align-items-center justify-content-evenly">
          <div>
            <h4>54 Jours</h4>
            <p>DSO</p>
          </div>
          <div class="statistiques">
            <p><i class="fa-solid fa-arrow-right transform-up"></i> 45 Jours </p>
        </div>
      </div>

          <div class="graph-chart d-flex justify-content-between">
              <!-- Graphique -->
              <canvas
                class="graph-chart-card"
                data-controller="chart"
                data-chart-type-value="line"
                data-chart-data-value="<%= @chart_data2.to_json %>"
              ></canvas>
          </div>
      </div>
    </div>



  <div class="col-4">
    <div class="card-blank-statistique card-white d-flex justify-content-between">
      <div class="d-flex flex-column align-items-center justify-content-evenly">
          <div>
            <h4>54 Jours</h4>
            <p>DSO</p>
          </div>
          <div class="statistiques">
            <p><i class="fa-solid fa-arrow-right transform-up"></i> 45 Jours </p>
        </div>
      </div>

          <div class="graph-chart d-flex justify-content-between">
              <!-- Graphique -->
              <canvas
                class="graph-chart-card"
                data-controller="chart"
                data-chart-type-value="line"
                data-chart-data-value="<%= @chart_data2.to_json %>"
              ></canvas>
          </div>
      </div>
    </div>

    <div class="col-4">
    <div class="card-blank-show-big card-white d-flex justify-content-between">

    <div class="container mt-2">
    <h4 class="my-4 text-center ">Analyses des débiteurs</h4>
      <div class="row d-flex flex-column">
        <% @debtor_analyzers[0..12].each do |debtor_analyzer| %>

          <!-- Card avec les analyses pour chaque débiteur -->

            <div class="display-company d-flex justify-content-between text-start">
                <p class="card-title "><%= debtor_analyzer.debtor.company_name %> </p>






                  <div class="text-color d-flex">
                    <!-- Nombre de jours moyens de retard -->
                    <div class="d-flex justify-content-between align-items-center px-3 <%= debtor_analyzer.relationship.rating.to_i >=4 ? 'text-green' : debtor_analyzer.relationship.rating.to_i === 3 ? 'text-blue' : 'text-warning' %>">
                      <p class="<%= debtor_analyzer.relationship.rating >=4 ? 'text-green' : debtor_analyzer.relationship.rating.to_i === 3 ? 'text-blue' : 'text-warning' %>">

                      <p class="<%= debtor_analyzer.relationship.rating >=4 ? 'text-green' : debtor_analyzer.relationship.rating.to_i === 3 ? 'text-blue' : 'text-warning' %>">
                      <strong><%= debtor_analyzer.relationship.payment_days %></strong></p>
                    </div>

                          <!-- Note calculée par l'équipe Surviv.Ai -->
                    <div class="d-flex justify-content-between align-items-center px-3">
                      <p class="mb-1 <%= debtor_analyzer.relationship.rating.to_i >=4 ? 'text-green' : debtor_analyzer.relationship.rating.to_i === 3 ? 'text-blue' : 'text-warning' %>">
                      <p class= "<%= debtor_analyzer.relationship.rating.to_i >=4 ? 'text-green' : debtor_analyzer.relationship.rating.to_i === 3 ? 'text-blue' : 'text-warning' %>">
                      <%= render "shared/ratings", rating: debtor_analyzer.relationship.rating %>
                      <i class="fa-regular fa-star fa-solid"></i></p>
                    </div>
                  </div>
            </div>


        <% end %>


         <!-- À suprimer plus tard -->

                  <% @debtor_analyzers[0..12].each do |debtor_analyzer| %>

          <!-- Card avec les analyses pour chaque débiteur -->

            <div class="display-company d-flex justify-content-between text-start">
                <p class="card-title "><%= debtor_analyzer.debtor.company_name %> </p>






                  <div class="text-color d-flex">
                    <!-- Nombre de jours moyens de retard -->
                    <div class="d-flex justify-content-between align-items-center px-3 <%= debtor_analyzer.relationship.rating.to_i >=4 ? 'text-green' : debtor_analyzer.relationship.rating.to_i === 3 ? 'text-blue' : 'text-warning' %>">
                      <p class="<%= debtor_analyzer.relationship.rating >=4 ? 'text-green' : debtor_analyzer.relationship.rating.to_i === 3 ? 'text-blue' : 'text-warning' %>">

                      <p class="<%= debtor_analyzer.relationship.rating >=4 ? 'text-green' : debtor_analyzer.relationship.rating.to_i === 3 ? 'text-blue' : 'text-warning' %>">
                      <strong><%= debtor_analyzer.relationship.payment_days %></strong></p>
                    </div>

                          <!-- Note calculée par l'équipe Surviv.Ai -->
                    <div class="d-flex justify-content-between align-items-center px-3">
                      <p class="mb-1 <%= debtor_analyzer.relationship.rating.to_i >=4 ? 'text-green' : debtor_analyzer.relationship.rating.to_i === 3 ? 'text-blue' : 'text-warning' %>">
                      <p class= "<%= debtor_analyzer.relationship.rating.to_i >=4 ? 'text-green' : debtor_analyzer.relationship.rating.to_i === 3 ? 'text-blue' : 'text-warning' %>">
                      <%= render "shared/ratings", rating: debtor_analyzer.relationship.rating %>
                      <i class="fa-regular fa-star fa-solid"></i></p>
                    </div>
                  </div>
            </div>


        <% end %>
            <% @debtor_analyzers[0..12].each do |debtor_analyzer| %>

          <!-- Card avec les analyses pour chaque débiteur -->

            <div class="display-company d-flex justify-content-between text-start">
                <p class="card-title "><%= debtor_analyzer.debtor.company_name %> </p>






                  <div class="text-color d-flex">
                    <!-- Nombre de jours moyens de retard -->
                    <div class="d-flex justify-content-between align-items-center px-3 <%= debtor_analyzer.relationship.rating.to_i >=4 ? 'text-green' : debtor_analyzer.relationship.rating.to_i === 3 ? 'text-blue' : 'text-warning' %>">
                      <p class="<%= debtor_analyzer.relationship.rating >=4 ? 'text-green' : debtor_analyzer.relationship.rating.to_i === 3 ? 'text-blue' : 'text-warning' %>">

                      <p class="<%= debtor_analyzer.relationship.rating >=4 ? 'text-green' : debtor_analyzer.relationship.rating.to_i === 3 ? 'text-blue' : 'text-warning' %>">
                      <strong><%= debtor_analyzer.relationship.payment_days %></strong></p>
                    </div>

                          <!-- Note calculée par l'équipe Surviv.Ai -->
                    <div class="d-flex justify-content-between align-items-center px-3">
                      <p class="mb-1 <%= debtor_analyzer.relationship.rating.to_i >=4 ? 'text-green' : debtor_analyzer.relationship.rating.to_i === 3 ? 'text-blue' : 'text-warning' %>">
                      <p class= "<%= debtor_analyzer.relationship.rating.to_i >=4 ? 'text-green' : debtor_analyzer.relationship.rating.to_i === 3 ? 'text-blue' : 'text-warning' %>">
                      <%= render "shared/ratings", rating: debtor_analyzer.relationship.rating %>
                      <i class="fa-regular fa-star fa-solid"></i></p>
                    </div>
                  </div>
            </div>


        <% end %>

               <!-- juqu'ici -->


      </div>
  </div>




      </div>

  </div>

  <div class="col-8">
    <div class="row">
    <div class="col-12">
    <div class="card-blank-statistique-big card-white d-flex justify-content-between">
      <div class="d-flex flex-column align-items-center justify-content-evenly">
          <div>
            <h4>32 Jours</h4>
            <p>Moyens de paiements</p>
          </div>
          <div class="statistiques">
            <p><i class="fa-solid fa-arrow-right transform-up"></i> 4 Jours </p>
        </div>
      </div>

          <div class="graph-chart d-flex justify-content-between">
              <!-- Graphique -->
            <canvas
              class="graph-chart-big"
              data-controller="chart"
              data-chart-type-value="bar"
              data-chart-data-value="<%= @chart_data1.to_json %>"
            ></canvas>
          </div>

      </div>
      <div class="col-12">

      <div class="card-blank-statistique-big card-white d-flex justify-content-between">
      <div class="d-flex flex-column align-items-center justify-content-evenly">
          <div>
            <h4>8450 € </h4>
            <p>Total des factures</p>
          </div>
          <div class="statistiques">
            <p><i class="fa-solid fa-arrow-right transform-up"></i> 1200€ </p>
        </div>
      </div>

          <div class="graph-chart d-flex justify-content-between">
              <!-- Graphique -->
             <canvas
                class="graph-chart-big"
                data-controller="chart"
                data-chart-type-value="bar"
                data-chart-data-value="<%= @chart_data.to_json %>"
              ></canvas>
          </div>
      </div>
    </div>
    </div>


    </div>

    </div>




































  <!-- Section Analyses des débiteurs -->
  <div class="container mt-2">
    <h2 class="my-3 ">Analyses des débiteurs</h2>
      <div class="row d-flex flex-column">
        <% @debtor_analyzers[0..1].each do |debtor_analyzer| %>

          <!-- Card avec les analyses pour chaque débiteur -->
          <div class="col-5 my-3">
            <h5 class="card-title ms-3">Analyses pour <%= debtor_analyzer.debtor.company_name %> :</h5>

            <div class="card-show-user card-large mb-4">

              <div class="card-body d-flex flex-column justify-content-center w-100">

                <!-- Note calculée par l'équipe Surviv.Ai -->
                <div class="text-color">
                  <div class="d-flex justify-content-between align-items-center px-3">
                    <strong><p class="mb-1 <%= debtor_analyzer.relationship.rating.to_i >=4 ? 'text-green' : debtor_analyzer.relationship.rating.to_i === 3 ? 'text-blue' : 'text-warning' %>">
                    <strong>Note calculée par l'équipe Surviv.Ai :</strong></p></strong>
                    <p class= "<%= debtor_analyzer.relationship.rating.to_i >=4 ? 'text-green' : debtor_analyzer.relationship.rating.to_i === 3 ? 'text-blue' : 'text-warning' %>">
                    <%= render "shared/ratings", rating: debtor_analyzer.relationship.rating %>
                    <i class="fa-regular fa-star fa-solid"></i></p>
                  </div>
                  <!-- Nombre de jours moyens de retard -->
                  <div class="d-flex justify-content-between align-items-center px-3 <%= debtor_analyzer.relationship.rating.to_i >=4 ? 'text-green' : debtor_analyzer.relationship.rating.to_i === 3 ? 'text-blue' : 'text-warning' %>">
                    <p class="<%= debtor_analyzer.relationship.rating >=4 ? 'text-green' : debtor_analyzer.relationship.rating.to_i === 3 ? 'text-blue' : 'text-warning' %>">
                    <strong>Jours de retard moyens :</strong></p>
                    <p class="<%= debtor_analyzer.relationship.rating >=4 ? 'text-green' : debtor_analyzer.relationship.rating.to_i === 3 ? 'text-blue' : 'text-warning' %>">
                    <strong><%= debtor_analyzer.relationship.payment_days %></strong></p>
                  </div>
                </div>
                <!-- Montant total des factures -->
                <div class="d-flex justify-content-between align-items-center text-green px-3">
                  <p class="mb-1"><strong>Montant total des factures :</strong></p>
                  <p><strong><%= number_with_precision(debtor_analyzer.total_invoices_amount, precision: 2, separator: ',') %> EUR</strong>
                  <i class="fas fa-coins ml-2"></i></p>
                </div>
                <!-- Montant total des factures impayées -->
                <div class="d-flex justify-content-between align-items-center px-3 text-red">
                  <strong><p class="mb-1"><strong>Montant total des factures impayées :</strong></p></strong>
                  <p><strong><%= number_with_precision(debtor_analyzer.unpaid_amount, precision: 2, separator: ',') %> EUR</strong>
                  <i class="fas fa-exclamation-triangle ml-2"></i></p>
                </div>
                <!-- Nombre de factures en retard de paiement -->
                <div class="d-flex justify-content-between align-items-center px-3 text-red">
                  <strong><p class="mb-1"><strong>Nombre de facture en retard de paiement :</strong></p></strong>
                  <p><strong><%= debtor_analyzer.overdue_invoices_count %></strong>
                  <i class="fas fa-exclamation-triangle ml-2"></i></p>
                </div>
                <!-- Nombre total de rappels envoyés -->
                <div class="d-flex justify-content-between align-items-center text-warning px-3 text-bold">
                  <p class="mb-1"><strong>Nombre total de rappels envoyés:</strong></p>
                    <p><strong><%= debtor_analyzer.reminders_sent %></strong>
                  </p>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
  </div>




  <!-- Section Graphique -->
  <div class="graph-container container mt-4">
    <h2 class="mt-2 mb-4">Graphique récapitulatif</h2>
    <!-- Graphique -->
    <canvas
      class="graph-chart"
      data-controller="chart"
      data-chart-type-value="bar"
      data-chart-data-value="<%= @chart_data.to_json %>"
    ></canvas>
  </div>

  <!-- Section Analyses récapitulatives des débiteurs -->
  <div class="container mt-4">
    <h2 class="my-4">Analyses récapitulatives des débiteurs</h2>
    <!-- Tableau récapitulatif -->
    <div class="container-table" >
    <table class="table table-rounded">
      <thead>
        <tr>
          <th class=" ">Entreprise</th>
          <th>Montant total des factures</th>
          <th>Montant total des factures impayées</th>
          <th>Nombre de factures en retard</th>
          <th >Nombre total de rappels envoyés</th>
          <th class="border-radius-right">DSO moyen</th>
        </tr>
      </thead>
      <tbody>
        <% @debtor_analyzers.each do |debtor_analyzer| %>
          <tr>
            <td><%= debtor_analyzer.debtor.company_name %></td>
            <td><%= number_with_precision(debtor_analyzer.total_invoices_amount, precision: 2, separator: ',') %> EUR</td>
            <td><%= number_with_precision(debtor_analyzer.unpaid_amount, precision: 2, separator: ',') %> EUR</td>
            <td><%= debtor_analyzer.overdue_invoices_count %></td>
            <td><%= debtor_analyzer.reminders_sent %></td>
            <td><%= debtor_analyzer.relationship.payment_days.to_i %>j</td>
          </tr>
        <% end %>
      </tbody>
    </table>
    </div>
  </div>
</div>


<div class="graph-container container mt-4">
    <h2 class="mt-2 mb-4">Graphique récapitulatif</h2>
    <!-- Graphique -->
    <canvas
      class="graph-chart"
      data-controller="chart"
      data-chart-type-value="bar"
      data-chart-data-value="<%= @chart_data1.to_json %>"
    ></canvas>
  </div>

<div class="graph-container container mt-4">
    <h2 class="mt-2 mb-4">DSO Mensuel</h2>
    <!-- Graphique -->
    <canvas
      class="graph-chart"
      data-controller="chart"
      data-chart-type-value="line"
      data-chart-data-value="<%= @chart_data2.to_json %>"
    ></canvas>
  </div>
