<!DOCTYPE html>
<html>
  <head>
    <title>SurvivAi</title>
     <script src="https://kit.fontawesome.com/8ccb1e6853.js" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  <div class="row">
  <div class="col-2">
  <%= render "shared/navbar" %>
  </div>
  <div class="col-10">
  <%= render "shared/flashes" %>
    <%= yield %>
  </div>
  </body>
</html>
